<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swirlwave.android">

    <uses-sdk android:minSdkVersion="19"/>
    <!-- Only shows up for devices with NFC in Google Play -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, allowBackup">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.com.swirlwave.android.beam" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SwirlwaveService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".settings.LocalSettingsActivity"></activity>

        <receiver
            android:name=".sms.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter android:priority="10" >
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />
                <data
                    android:scheme="sms"
                    android:host="*"
                    android:port="6739" />
            </intent-filter>
        </receiver>
    </application>

</manifest>